<div class="sidebar" style="color:rebeccapurple">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/Home/Index" class="simple-text">
                Varlık Yönetim Sistemi
            </a>
        </div>
        <ul class="nav">
            <li >
                <a class="nav-link" href="/Home/Index">
                    <i class="fas fa-chart-pie"></i> <!-- Font Awesome ikonu -->
                    <p>Anasayfa</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/User/Index">
                    <i class="fas fa-user-circle"></i> <!-- Font Awesome ikonu -->
                    <p>Profilim</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/Account/Index">
                    <i class="fas fa-file-alt"></i> <!-- Font Awesome ikonu -->
                    <p>Hesaplarım</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/Account/ListTransfer">
                    <i class="fas fa-paper-plane"></i> <!-- Font Awesome ikonu -->
                    <p>Para Transferi</p>
                </a>
            </li>
        </ul>
    </div>
</div>
