@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h1 class="text-danger">Bir Hata Oluştu</h1>
<h2 class="text-danger">İşleminiz sırasında bir sorunla karşılaştık.</h2>
<p>Lütfen daha sonra tekrar deneyin</p>

@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Destek ekibi için Hata Numarası:</strong> <code>@Model.RequestId</code>
    </p>
}

